# Pandas

[Pandas](https://pandas.pydata.org/) is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. It was developed mainly for working with relational or labeled data and provides two data structures, Series and DataFrame, for manipulating data.

Pandas Series is a one-dimensional labeled array that can store data of any type and has axis labels called indexes. Pandas DataFrame is a two-dimensional array (rows and columns) that is mutable and can store different data types.

The [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html) guide provides a short introduction to pandas and was written mainly for new users.

Use `import` to load pandas using `pd` as an alias.

In [1]:
import pandas as pd
import numpy as np

Create a `Series` by passing a list of values.

In [2]:
s = pd.Series(
    [1, 3, 5, np.nan, 6, 8]
)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Create a `DataFrame` by passing a `NumPy` array, with a datetime index and labelled columns.

In [3]:
dates = pd.date_range("20130101", periods = 6)

df = pd.DataFrame(
    np.random.randn(6, 4),
    index = dates,
    columns = list("ABCD")
)
df

                   A         B         C         D
2013-01-01  0.540857 -0.330438 -0.672242  1.000982
2013-01-02 -1.675181  0.307242 -0.742327  0.042109
2013-01-03  0.994438 -0.734737  1.306552 -0.750200
2013-01-04 -0.080222  2.026272 -0.776796  0.962623
2013-01-05 -0.286304 -1.918851 -0.438642 -1.413828
2013-01-06  0.445466  0.775698  1.503727  0.778120

Create three lists and a dictionary `d`.

In [4]:
col1 = list(range(1,6))
col2 = list(range(7, 12))
col3 = list(range(13, 18))

d = {
    'col1' : col1,
    'col2' : col2,
    'col3' : col3
}

print(type(d))

<class 'dict'>

Create a data frame `df`.

In [5]:
df = pd.DataFrame(d)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   col1  col2  col3
0     1     7    13
1     2     8    14
2     3     9    15
3     4    10    16
4     5    11    17

Name the rows. (Rows are called index and columns are called columns.)

In [6]:
df.index = ['one', 'two', 'three', 'four', 'five']
print(df)

       col1  col2  col3
one       1     7    13
two       2     8    14
three     3     9    15
four      4    10    16
five      5    11    17

Read from a CSV file and print first three rows.

In [7]:
iris = pd.read_csv("../data/iris.csv")
print(iris[0:3])

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

Use [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) to access a group of rows and columns using labels or a boolean array. The example below uses the row names to access specific rows.

In [8]:
print(iris.loc[[1, 3, 5]])

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

All rows but specific columns.

In [36]:
iris.loc[:, ["Sepal.Length", "Petal.Length"]]

     Sepal.Length  Petal.Length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

Access specific rows and columns.

In [9]:
print(
    iris.loc[
        range(0,3),
        ['Sepal.Width', 'Sepal.Length']
    ]
)

   Sepal.Width  Sepal.Length
0          3.5           5.1
1          3.0           4.9
2          3.2           4.7

Use `iloc` to access rows and columns by integer position(s).

In [10]:
print(
    iris.iloc[
        [0, 1, 2],
        [1, 0]
    ]
)

   Sepal.Width  Sepal.Length
0          3.5           5.1
1          3.0           4.9
2          3.2           4.7

Note that there is a difference between a single square brackets (`Series`) and a double square brackets (`DataFrame`) when accessing columns. A `Series` is necessary for subsetting a `DataFrame`.

In [11]:
print(type(iris["Sepal.Length"]))
print(iris["Sepal.Length"])

<class 'pandas.core.series.Series'>
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal.Length, Length: 150, dtype: float64

DataFrame.

In [12]:
print(type(iris[["Sepal.Length"]]))
print(iris[["Sepal.Length"]])

<class 'pandas.core.frame.DataFrame'>
     Sepal.Length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

Subsetting using a Series.

In [13]:
long_sepal = iris["Sepal.Length"] > 7.5
print(type(long_sepal))
print(iris[long_sepal])

<class 'pandas.core.series.Series'>
     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

Since pandas is built on NumPy, we can also use NumPy booleans for subsetting.

In [14]:
import numpy as np

wanted = np.logical_and(
    iris["Sepal.Length"] > 7.5,
    iris["Petal.Length"] > 6.8
)

print(iris[wanted])

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
118           7.7          2.6           6.9          2.3  virginica

Using the `isin()` method for filtering.

In [42]:
iris[
    iris["Species"].isin(["setosa"])
].tail(3)

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species SPECIES
47           4.6          3.2           1.4          0.2  setosa  SETOSA
48           5.3          3.7           1.5          0.2  setosa  SETOSA
49           5.0          3.3           1.4          0.2  setosa  SETOSA

Use [apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) to apply a function along an axis of a DataFrame. The example below applys the [str.upper](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.upper.html) function (convert strings to uppercase) to the `Species` Series and creates a new column called `SPECIES`.

In [15]:
iris["SPECIES"] = iris["Species"].apply(str.upper)
iris.loc[[0, 1, 2], ["Species", "SPECIES"]]

  Species SPECIES
0  setosa  SETOSA
1  setosa  SETOSA
2  setosa  SETOSA

Head of `DataFrame`.

In [19]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species SPECIES
0           5.1          3.5           1.4          0.2  setosa  SETOSA
1           4.9          3.0           1.4          0.2  setosa  SETOSA
2           4.7          3.2           1.3          0.2  setosa  SETOSA
3           4.6          3.1           1.5          0.2  setosa  SETOSA
4           5.0          3.6           1.4          0.2  setosa  SETOSA

Tail of `DataFrame`.

In [20]:
iris.tail(3)

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,SPECIES
147,6.5,3.0,5.2,2.0,virginica,VIRGINICA
148,6.2,3.4,5.4,2.3,virginica,VIRGINICA
149,5.9,3.0,5.1,1.8,virginica,VIRGINICA

Display the index (row names):

In [21]:
iris.index

RangeIndex(start=0, stop=150, step=1)

Display columns:

In [22]:
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species',
       'SPECIES'],
      dtype='object')

Quick summary statistics.

In [23]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Mean (automatically excluded non-numerical columns).

In [43]:
iris.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

Transposing.

In [26]:
iris.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
Sepal.Length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
Sepal.Width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
Petal.Length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
Petal.Width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica
SPECIES,SETOSA,SETOSA,SETOSA,SETOSA,SETOSA,SETOSA,SETOSA,SETOSA,SETOSA,SETOSA,...,VIRGINICA,VIRGINICA,VIRGINICA,VIRGINICA,VIRGINICA,VIRGINICA,VIRGINICA,VIRGINICA,VIRGINICA,VIRGINICA

Sort by column.

In [31]:
iris.sort_values(by = "Petal.Length", ascending = False)

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,SPECIES
118,7.7,2.6,6.9,2.3,virginica,VIRGINICA
122,7.7,2.8,6.7,2.0,virginica,VIRGINICA
117,7.7,3.8,6.7,2.2,virginica,VIRGINICA
105,7.6,3.0,6.6,2.1,virginica,VIRGINICA
131,7.9,3.8,6.4,2.0,virginica,VIRGINICA
...,...,...,...,...,...,...
16,5.4,3.9,1.3,0.4,setosa,SETOSA
35,5.0,3.2,1.2,0.2,setosa,SETOSA
14,5.8,4.0,1.2,0.2,setosa,SETOSA
13,4.3,3.0,1.1,0.1,setosa,SETOSA
22,4.6,3.6,1.0,0.2,setosa,SETOSA

Joining.

In [46]:
left = pd.DataFrame(
    {"key": ["foo", "foo"],
     "lval": [1, 2]}
)

right = pd.DataFrame(
    {"key": ["foo", "foo"],
     "rval": [4, 5]}
)

pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

Group by.

In [47]:
iris.groupby("Species").mean()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026