# NumPy

[pandas](https://pandas.pydata.org/) is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Use `import` to load pandas.

In [3]:
import pandas as pd

col1 = list(range(1,6))
col2 = list(range(7, 12))
col3 = list(range(13, 18))

d = {'col1' : col1, 'col2' : col2, 'col3' : col3}

df = pd.DataFrame(d)
df.index = ['one', 'two', 'three', 'four', 'five']
print(df)
print(type(df))

       col1  col2  col3
one       1     7    13
two       2     8    14
three     3     9    15
four      4    10    16
five      5    11    17
<class 'pandas.core.frame.DataFrame'>

Read from a CSV file

In [16]:
iris = pd.read_csv("../data/iris.csv")
print(iris[0:5])

print(iris.loc[[0, 1, 2]])

print(iris.loc[range(0,3), ['Sepal.Width', 'Sepal.Length']])

print(iris.iloc[[0, 1, 2], [1, 0]])

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
   Sepal.Width  Sepal.Length
0          3.5           5.1
1          3.0           4.9
2          3.2           4.7
   Sepal.Width  Sepal.Length
0          3.5           5.1
1          3.0           4.9
2          3.2           4.7

Note that there's a difference between square brackets (pandas series) and double square brackets (pandas DataFrame) when obtaining columns. You need a pandas series to subset a pandas DataFrame.

In [14]:
print(type(iris["Sepal.Length"]))

print(type(iris[["Sepal.Length"]]))

large = iris["Sepal.Length"] > 7.5

print(iris[large])

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

Since pandas is built on NumPy, use NumPy logicals to subset.

In [15]:
import numpy as np

wanted = np.logical_and(iris["Sepal.Length"] > 7.5, iris["Sepal.Length"] < 7.7)
print(iris[wanted])

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
105           7.6          3.0           6.6          2.1  virginica

Using apply

In [27]:
iris["SPECIES"] = iris["Species"].apply(str.upper)
iris.iloc[[0, 1, 2]]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species SPECIES
0           5.1          3.5           1.4          0.2  setosa  SETOSA
1           4.9          3.0           1.4          0.2  setosa  SETOSA
2           4.7          3.2           1.3          0.2  setosa  SETOSA